# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# BioID Agent Binaries
agent/libs/libbio_helper.so
agent/bio_diag
agent/watson_cli
agent/agent_debug.log

# IDEs
.vscode/
.idea/

# Drivers/SDKs
drivers/
Drivers_Windows/
DRIVER WATSON MINI/
Latest IBScanUltimate SDK/
agent/ib_sdk_linux/

# Build & Distribution
agent/build/
agent/dist/
agent/bio_agent.spec
agent/libs/

# System
.DS_Store
